# FOR LOOP

In [1]:
for a in range(10):
    print(a,"Syed Ali Hashmi")

0 Syed Ali Hashmi
1 Syed Ali Hashmi
2 Syed Ali Hashmi
3 Syed Ali Hashmi
4 Syed Ali Hashmi
5 Syed Ali Hashmi
6 Syed Ali Hashmi
7 Syed Ali Hashmi
8 Syed Ali Hashmi
9 Syed Ali Hashmi

In [6]:
for number in range(10):
    print (number)

0
1
2
3
4
5
6
7
8
9

In [10]:
for number in range(1,10,2): #steping
    print (number)

1
3
5
7
9

In [11]:
for number in range(10,1,-2):
    print (number)

10
8
6
4
2

In [12]:
country = "Pakistan"
for char in country:
    print(char)

P
a
k
i
s
t
a
n

In [33]:
for number in range(10):
    if number%3==1:
        break
print (number)

1

In [44]:
for num in range(10):
    if num==7or num==4:
        continue
    print (num)

0
1
2
3
5
6
8
9

# NESTED FOR LOOP

In [45]:
for a in range(5):
    print("inner loop begins")
    for char in "pakistan":
        print(a,char)

inner loop begins
0 p
0 a
0 k
0 i
0 s
0 t
0 a
0 n
inner loop begins
1 p
1 a
1 k
1 i
1 s
1 t
1 a
1 n
inner loop begins
2 p
2 a
2 k
2 i
2 s
2 t
2 a
2 n
inner loop begins
3 p
3 a
3 k
3 i
3 s
3 t
3 a
3 n
inner loop begins
4 p
4 a
4 k
4 i
4 s
4 t
4 a
4 n

In [1]:
tablenumber=int(input("enter your table number"))
for a in range(1,11):
    print(f"{tablenumber} * {a} = {tablenumber*a}")

enter your table number4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [3]:
tables=int(input("ente table" ))
for table in range (2,tables+1):
    for num in range(1,11):
        print(f"{table}  * {num} = {table*num}")

ente table5
2  * 1 = 2
2  * 2 = 4
2  * 3 = 6
2  * 4 = 8
2  * 5 = 10
2  * 6 = 12
2  * 7 = 14
2  * 8 = 16
2  * 9 = 18
2  * 10 = 20
3  * 1 = 3
3  * 2 = 6
3  * 3 = 9
3  * 4 = 12
3  * 5 = 15
3  * 6 = 18
3  * 7 = 21
3  * 8 = 24
3  * 9 = 27
3  * 10 = 30
4  * 1 = 4
4  * 2 = 8
4  * 3 = 12
4  * 4 = 16
4  * 5 = 20
4  * 6 = 24
4  * 7 = 28
4  * 8 = 32
4  * 9 = 36
4  * 10 = 40
5  * 1 = 5
5  * 2 = 10
5  * 3 = 15
5  * 4 = 20
5  * 5 = 25
5  * 6 = 30
5  * 7 = 35
5  * 8 = 40
5  * 9 = 45
5  * 10 = 50