In [7]:
a = 10
# a is a variable name
# assignment operator
# 10 vale (integer)

In [8]:
print(a)

10

In [9]:
a = 12
type(a)

int

In [11]:
a=5.6
type(a)

float

In [14]:
city=("karachi")
type(city)

str

In [15]:
city=(45)
type(city)

int

In [2]:
student_name= "ali" 
father_name= "zafar"

In [4]:
print(student_name+" "+father_name)

ali zafar

In [35]:
num1=200
num2=100
sum_ =(num1 + num2)

In [36]:
print(sum)

300